body{
	font-family: 'Open Sans', sans-serif;
	font-size: 9pt;

}
#control_panel{
	width: 200px;
	height: 600px;
	float: left;
	padding: 10px;
	background-color: #f5f5f5;
	margin: 0px;
	border-bottom-right-radius: 10px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#data_panel{
	width: 800px;
	height: 600px;
	float: left;
	padding: 10px;
	margin: 0px;
	position: absolute;
	top: 0px;
	left: 220px;
}

#text_panel textarea{
	width: 800px;
	height: 400px;
	margin-bottom: 10px;
	font-family: Open Sans, sans-serif;
}



a.button{
	padding: 10px;
	border-radius: 5px;
	background-color: white;
	border: 1px solid steelblue; 
}
a.button:hover{
	background-color: lightsteelblue;
}

table{
	border-spacing: 0;
	border-collapse: collapse;
	
}
#extracted td, th{
	width: 80px;
	border: 1px solid steelblue;
	
}

